$green-buble: '/images/agency/green_buble.png';
$blue-buble: '/images/agency/blue_buble.png';
$violet-buble: '/images/agency/violet_buble.png';

.root {
  position: relative;
  padding: spacing(5, 0);
  text-align: center;
  .theme--light & {
    @include bg-color-lighten($palette-primary-light, 0.8);
  }
  @include breakpoints-down(sm) {
    text-align: center;
    // padding: spacing(10, 0);
  }
  h4 {
    @include breakpoints-down(sm) {
      margin-top: $spacing2 * -1;
      margin-bottom: $spacing3;
    }
  }
}

.root {
  position: relative;
  padding: spacing(5, 0, 10, 0);
  // text-align: center;
  @include breakpoints-up(sm) {
    // padding: spacing(10, 0);
  }
  .theme--dark & {
    @include bg-color-fade($palette-primary-dark, 0.4);
  }
  .theme--light & {
    @include bg-color-lighten($palette-primary-light, 0.8);
  }
}

.decoration {
  .theme--dark & {
    fill: $palette-primary-dark;
    stroke: $palette-primary-dark;
  }
  .theme--light & {
    fill: $palette-primary-light;
    stroke: $palette-primary-light;
  }
  height: 600px;
  width: 600px;
  position: absolute;
  top: -180px;
  @include left(-240px);
  @include breakpoints-down(md) {
    transform: scale(0.8);
  }
}

.desc {
  line-height: 32px;
}

.illustration-wrap {
  position: relative;
  top: -240px;
  height: 300px;
  @include left(-230px);
  transform-origin: top;
  span {
    background-size: 100%;
    display: block;
    position: relative;
  }
  @include breakpoints-down(sm) {
    display: none;
  }
}

.icon-green {
  top: -179px;
  @include left(30px);
  width: 320px;
  height: 600px;
  background: url($green-buble) no-repeat;
}

.icon-violet {
  width: 560px;
  height: 560px;
  @include left(-50px);
  top: -620px;
  background: url($violet-buble) no-repeat;
}

.icon-blue {
  width: 560px;
  height: 560px;
  @include left(0px);
  top: -1170px;
  background: url($blue-buble) no-repeat;
}

.desc-icon {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  transform: rotate(45deg);
  margin-bottom: $spacing1;
  @include breakpoints-down(sm) {
    margin-left: auto;
    margin-right: auto;
  }
  .v-icon {
    transform: rotate(-45deg);
    margin: 4px 0px 0px 5px;
    @include breakpoints-down(sm) {
      margin: 5px 0px 0px 0px;
    }
  }
}

.icon {
  &-primary {
    background: $palette-primary-light;
    .v-icon {
      color: $palette-primary-dark;
    }
  }
  &-secondary {
    background: $palette-secondary-light;
    .v-icon {
      color: $palette-secondary-dark;
    }
  }
  &-accent {
    background: $palette-accent-light;
    .v-icon {
      color: $palette-accent-dark;
    }
  }
  &-accent2 {
    background: #fbeabb;
    .v-icon {
      color: #f38d21;
    }
  }
}

.floating-artwork {
  position: absolute;
  width: 100%;
  left: 0;
  top: spacing(5);
  @include breakpoints-up(lg) {
    left: $spacing3;
  }
  @media (min-width: 1400px) {
    left: $spacing10;
  }
  .artwork {
    @include breakpoints-up(md) {
      margin-right: $spacing5;
    }
    @include breakpoints-up(lg) {
      float: right;
    }
    @media (min-width: 1400px) {
      margin-right: $spacing5 * -1;
    }
  }
}

.arrow {
  .v-application--is-rtl & {
    direction: rtl;
  }
  .v-application--is-ltr & {
    direction: ltr;
  }
  margin-top: $spacing8;
  position: relative;
  z-index: 10;
  @include padding-left($spacing10);
  button {
    @include palette-background-paper;
    margin: $spacing1 / 2;
    .theme--dark & {
      color: $palette-primary-main;
    }
    .theme--light & {
      color: $palette-primary-main;
    }
    @include rtl-flip;
  }
  @media (max-width: 1279px) {
    display: none;
  }
  @include breakpoints-down(md) {
    display: none;
    margin-top: 560px;
  }
}

.carousel-handle {
  z-index: 10;
}

.carousel-wrap {
  z-index: 2;
}
