.footer {
  text-align: center;
  position: relative;
  .container {
    position: relative;
  }
  nav {
    margin: spacing(6, 0);
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: $spacing1;
        a {
          text-transform: capitalize;
          text-decoration: none !important;
          padding: spacing(0, 1);
          font-size: 18px;
          @include breakpoints-down(xs) {
            font-size: 16px
          }
        }
      }
    }
  }
}

.socmed {
  display: flex;
  width: 200px;
  margin: $spacing8 auto;
  justify-content: space-between;
}

.icon {
  padding: $spacing1;
  width: 40px;
  height: 40px;
  @include use-theme(background-color, $light-divider, $dark-divider);
  &.v-btn {
    transition: all 0.3s ease-out;
    i {
      width: 24px;
      height: 24px;
      font-size: 24px;
      margin-left: -2px;
      color: $palette-primary-main;
    }
  }
  &:hover {
    background: $palette-primary-dark;
    i {
      color: $palette-primary-light !important;
    }
  }
}
.copyright {
  display: block;
  padding: spacing(1.5);
  margin-top: spacing(3);
  p {
    margin-bottom: 0
  }
}
